.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.header,
.main,
.footer {
  background-color: black;
  padding: 10px;
  margin-top: 10px;
}

.nav-wrap {
  background-color: navy;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.logo,
.nav,
.social {
  background-color: red;
  padding: 10px;
}

.logo,
.social {
  flex-grow: 1;
}

.nav {
  flex-grow: 2;
}

.banner-wrap {
  margin-top: 10px;
  padding: 10px;
  background-color: orange;
}

.banner {
  background-color: yellow;
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.section {
  background-color: gray;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.section .article {
  background-color: blue;
  margin-bottom: 10px;
  padding: 10px;
}

.navigation {
  background-color: lightblue;
  padding: 10px;
  grid-column: span 2;
}


.aside {
  background-color: red;
  padding: 10px;
}

.publi {
  background-color: yellow;
  margin-bottom: 10px;
  padding: 10px;
}

.footer-wrap {
  background-color: orange;
  padding: 10px;
}

@media screen and (max-width: 768px) {

  .nav-wrap {
    display: block;
  }

  .logo,
  .nav {
    margin-bottom: 10px;
  }

  .main {
    grid-template-columns: 1fr;
  }
}